@model LoginViewModel

@{ ViewData["Title"] = "Login";
	Layout = "~/Views/Shared/_MainLayout.cshtml"; }





@if (ViewContext.ModelState.IsValid == false)
{
<div class="alert alert-danger">
	<strong>Error</strong>
	<div asp-validation-summary="All" class="danger"></div>
</div>}

<!-- Start Page Banner -->
<div class="page-banner-area">
	<div class="container">
		<div class="page-banner-content">
			<h2>My account</h2>
			<ul>
				<li>
					<a href="index.html">Home</a>
				</li>
				<li>My account</li>
			</ul>
		</div>
	</div>
</div>
<!-- End Page Banner -->
<!-- Start Sign In Area -->

@if (Model.EnableLocalLogin)
{

	<section class="sign-in-area ptb-100">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="sign-in-image"></div>
				</div>

				<div class="col-lg-6">
					<div class="sign-in-form">
						<h2>Sign in</h2>

						<form asp-route="Login">
							<input type="hidden" asp-for="ReturnUrl" />
							<div class="form-group">
								<label>Username</label>

								<input type="text" asp-for="Username" class="form-control" placeholder="Username" autofocus>
							</div>


							<div class="form-group">
								<label>Password</label>
								<input asp-for="Password" type="password" class="form-control" placeholder="Password" autocomplete="off">
							</div>

							<div class="row align-items-center">
								@if (Model.AllowRememberLogin)
								{
						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="form-check">
								<input asp-for="RememberLogin" type="checkbox" class="form-check-input" id="checkme">
								<label class="form-check-label" for="checkme">Remember me</label>
							</div>
						</div>}

								<div class="col-lg-6 col-md-6 col-sm-6 lost-your-password">
									<a href="#" class="lost-your-password">Forgot your password?</a>
								</div>
							</div>

							@if (Model.VisibleExternalProviders.Any())
							{
						<div class="col-sm-6">
							<div class="card">
								<div class="card-header">
									<h2>External Account</h2>
								</div>
								<div class="card-body">
									<ul class="list-inline">
										@foreach (var provider in Model.VisibleExternalProviders)
										{
						<li class="list-inline-item">
							<a class="btn btn-secondary"
							   asp-controller="External"
							   asp-action="Challenge"
							   asp-route-scheme="@provider.AuthenticationScheme"
							   asp-route-returnUrl="@Model.ReturnUrl">
								@provider.DisplayName
							</a>
						</li>
}
									</ul>
								</div>
							</div>
						</div>}

						<div class="row">
							<button class="btn btn-primary" name="button" value="login">Login</button>
							<button class="btn btn-danger" name="button" value="cancel">Cancel</button>
						</div>
							
							@*<a  asp-route="@Url.Action("Cancel", "Account")?returnUrl = @Model.ReturnUrl" asp- class="default-btn">Cancel</a>*@
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
}



@*<div class="login-page">
	<div class="lead">
		<h1>Login</h1>
		<p>Choose how to login</p>
	</div>


	@if (ViewContext.ModelState.IsValid == false)
	{
<div class="alert alert-danger">
	<strong>Error</strong>
	<div asp-validation-summary="All" class="danger"></div>
</div>}

	<div class="row">

		@if (Model.EnableLocalLogin)
		{
<div class="col-sm-6">
	<div class="card">
		<div class="card-header">
			<h2>Local Account</h2>
		</div>

		<div class="card-body">
			<form asp-route="Login">
				<input type="hidden" asp-for="ReturnUrl" />

				<div class="form-group">
					<label asp-for="Username"></label>
					<input class="form-control" placeholder="Username" asp-for="Username" autofocus>
				</div>
				<div class="form-group">
					<label asp-for="Password"></label>
					<input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
				</div>
				@if (Model.AllowRememberLogin)
				{
<div class="form-group">
	<div class="form-check">
		<input class="form-check-input" asp-for="RememberLogin">
		<label class="form-check-label" asp-for="RememberLogin">
			Remember My Login
		</label>
	</div>
</div>}
				<button class="btn btn-primary" name="button" value="login">Login</button>
				<button class="btn btn-secondary" name="button" value="cancel">Cancel</button>
			</form>
		</div>
	</div>
</div>}

		@if (Model.VisibleExternalProviders.Any())
		{
<div class="col-sm-6">
	<div class="card">
		<div class="card-header">
			<h2>External Account</h2>
		</div>
		<div class="card-body">
			<ul class="list-inline">
				@foreach (var provider in Model.VisibleExternalProviders)
				{
<li class="list-inline-item">
	<a class="btn btn-secondary"
	   asp-controller="External"
	   asp-action="Challenge"
	   asp-route-scheme="@provider.AuthenticationScheme"
	   asp-route-returnUrl="@Model.ReturnUrl">
		@provider.DisplayName
	</a>
</li>
}
			</ul>
		</div>
	</div>
</div>}

		@if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
		{
<div class="alert alert-warning">
	<strong>Invalid login request</strong>
	There are no login schemes configured for this request.
</div>}
	</div>
</div>*@